<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppId" value="1253790345314741"/>
    <add key="AppSecret" value="402f2959f2f86aa80961f4074db57e3b"/>
    <add key="AppClientToken" value="020baa13032ee9d279585dd45cb06583"/>
  </appSettings>
  
</configuration>